a {
    text-decoration: none;
    color: #000000;
}

.aPrimary {
    color: #e76108;
    border-bottom: 0.125em solid #e76108;
}

ul li{
    text-decoration: none;
}

body{
   text-align: center;
   margin: 0em 0em;
}

header{
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em 1em 1em 1em;

    text-transform: uppercase;
    
}

header a {
    color: #808080;

    padding: 0em 1.875em;
}

nav{
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 1.6em;
    margin: 1.6em 12.5em;
    border-bottom: 0.125em solid #000000;
}
nav a{
    padding: 0em 1em;
    
}
nav a:hover{
    color: #808080;
}

nav img{
    max-width: 5em;
    max-height: 6.875em;
    border-bottom: none;
}

.slider img {
    position: relative;
}

.containerInfo{
    margin: 4.7em 7.8em;
}

.containerInfo p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
}

.importantInfo{
    color: #ff0000;
}

.welcomeText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
}

.newsAndEvents h2{
    text-transform: uppercase;
    float: center;
    font-size: xx-large;
}


.newsFlex{
    display: flex;
    justify-content: space-around;
    margin: 3.125em 0em;
}

.news img{
    max-width: 21.875em;
    max-height: 31.25em;
}

.events{
    margin-top: 6.25em;
}

.eventsFlex{
    display: flex;
    justify-content: space-around;
    margin: 3.125em 0em;
}

.events img{
    max-width: 21.875em;
    max-height: 31.25em;
}

.containerZooSchool{
    background-color: #c0c0c0;
    height: 37.5em;
    display: flex;
    margin: 6.25em 0em;
}

.zooSchoolFlex {
    display: block;
    background-color: #ffffff;
    background-image: url(https://images.unsplash.com/photo-1504169448388-60f322bebb2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
    
    color: #2f00ffd7;

    margin: 4.7em 12.5em;
    padding: 2em 0em;
}

.zooSchoolFlex h2 {
    text-transform: uppercase;
}

.zooSchoolFlex p {
    padding: 0em 3.125em 3.125em 3.125em;
}

.buttonPrimary {
    background-color: #e76108;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border: 0.06em solid #e76108;
    border-radius: 0.31em;

    padding: 1em 4.7em;
}

.buttonPrimary:hover{
    background-color: #e7610896;
}

.footerBoxOne{
    background-color: #000000;
    color: #808080;
    text-align: center;
    padding: 4.7em;
    font-size: 1.375em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footerBoxOne p {
        color: #808080;
}

.footerBoxOne a{
    background-color: #000000;
    color: #ffffff;
    border: 0.06em solid #2f00ff;
    border-radius: 3px;
    padding: 0.625em 6.25em;
    display: inline-block;
    justify-content: space-between;
}

.footerBoxOne a:last-child{
    border: 0.125em solid #cc00ff;
}

.footerBoxOne a:hover{
    background-color: #2f00ff;
    border: 0.125em solid #2f00ff;
    border-radius: 0em;
    display: inline-block;
}

.footerBoxOne a:hover:last-child{
    background-color: #cc00ff;
    border: 0.125em solid #cc00ff;
    border-radius: 0em;
    display: inline-block;
}

.footerBoxTwo {
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    padding: 3.125em 7.8em;
    display: block;
}

.footerBoxTwo a {
    padding-left: 1.25em;
    padding-right: 1.25em;
    float: left;
}

.footerBoxTwo a:last-child {
    float: right;
    margin-right: 3.125em;
}

.footerBoxTwo a:hover{
    text-decoration-line: underline;
}

@media screen and (max-width: 580px){
    nav{
        float: none;
        display: block;
        text-align: center;
        margin-left: 0em;
    }

    nav img{
        display: none;
    }

    body{
        width: 100%;
        height: auto;
    }

    img{
        width: 100%;
        height: auto;
    }

    .newsFlex {
        display: block;
    }
    
    .eventsFlex {
        display: block;
    }

    .containerZooSchool{
        display: block;
        float: right;
    }

    .buttonPrimary{
        max-width: 25%;
        max-height: 50%;
    }
}